.container {
	display: flex;
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	width: 100%;
	max-width: 800px;
	height: 100dvh;
	max-height: 100%;
	background-color: rgb(199, 176, 176);
	flex-grow: 1;
}

.title {
	display: flex;
	flex-direction: column-reverse;
	text-align: center;
	order: 1;
	font-size: 24px;
	color: black;
	flex-grow: 1;
}

.search {
	display: flex;
	width: 100%;
	gap: 20px;
	border-bottom: 1px black solid;
	padding-bottom: 24px;
	margin-bottom: 24px;
}

.search-form {
	position: relative;
	width: 100%;
}

.input {
	padding: 12px;
	border-radius: 12px;
	border: none;
	width: 100%;
}

.search-spinner {
	position: absolute;
	left: 0;
	bottom: -16px;
	width: 100%;
	height: 12px;
	border-radius: 12px;
	overflow: hidden;
}
.search-spinner-load {
	height: 100%;
	background-color: rgb(59, 153, 51);
	animation: moves ease 1s infinite;
}

.form-button {
	height: 100%;

	& button {
		border: 1px seagreen solid;
		height: 100%;
		background-color: rgb(49, 50, 123);
		color: white;
		cursor: pointer;
		border-radius: 12px;
		padding: 12px;
	}
}

.ul {
	display: flex;
	flex-direction: column;
	row-gap: 24px;

	& a {
		display: block;
		width: 300px;
		color: black;
		text-decoration: none;
		cursor: pointer;
		font-size: 24px;
	}
}

.text {
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 24px;
}

.detail {
	width: 100%;
	transition: ease opacity 0.5s;

	&--loading {
		opacity: 0;
	}
}

.link.link {
	padding: 12px;
	border-radius: 12px;
	transition: ease background-color 0.3s, ease border-color 0.3s,
		ease color 0.3s;
	border: 1px solid transparent;

	&--active {
		background-color: rgb(0, 255, 68);
	}

	&--pending {
		background-color: rgb(0, 47, 255);
		color: white;
	}

	&:not(&--active):hover {
		border-color: rgb(0, 47, 255);
	}
}

@keyframes moves {
	0% {
		width: 0;
	}

	50% {
		width: 100%;
	}

	100% {
		width: 0;
	}
}
